@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --bodyC: #202225;
    --headerfooterC: #2F3136;
    --fontC: #ffffff;
    --fonthoverC: #2b6d99;
    --calcPrev: rgb(165, 165, 165);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fontC);
    background-color: var(--bodyC);
}

header{
    text-align: center;
    background-color: var(--headerfooterC);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main{
    min-width: 350px;
    max-width: 1200px;
    margin: auto;
}

main section{
    text-align: center;
    padding: 10px;
}

section#about p{
    padding: 5px;
}

article#show1, article#show2, article#show3, article#show4{
    display: none;
}

.calcStyle{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 60px);
}

.calcStyle > button {
    cursor: pointer;
    font-size: 20px;
    border: 1px, solid aliceblue;
    outline: none;
    background-color: var(--bodyC);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    color: aliceblue;
  }

.calcStyle > button:hover {
    color: var(--fonthoverC);
}

.span-two {
    grid-column: span 2;
}


.output{
    grid-column: 1 / -1;
    position: relative;
    height: 90px;
    width: 395px;
    background-color: var(--bodyC);
    background-size: 100% 100%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.output .prev-operand{
    color: var(--calcPrev);
    font-size: 1.5rem;
}

.output .curr-operand{
    color: var(--fontC);
    font-size: 2rem;
}

.square{
    text-align: center;
    background-color: var(--headerfooterC);
    padding: 10px;
    width: 550px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
}

#txtNumberMulti{
    border: none;
    appearance: none;
    outline: none;
    text-align: center;
    font-size: 1.5rem;
    color: var(--fontC);
    height: 60px;
    width: 395px;
    border-radius: 10px;
    background-color: var(--bodyC);
}

::placeholder{
    color: var(--calcPrev);
    text-align: center;
}

#buttonMulti{
    cursor: pointer;
    font-size: 20px;
    border: 1px, solid aliceblue;
    outline: none;
    background-color: var(--bodyC);
    margin: 15px;
    padding: 5px;
    width: 395px;
    border-radius: 10px;
    color: aliceblue;
}

#buttonMulti:hover{
    color: var(--fonthoverC);
}

div#multiTable{
    margin-bottom: 10px;
}

select#multiTab{
    width: 395px;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
    background-color: var(--bodyC);
    color: var(--fontC);
    border-radius: 10px;
    overflow-y: hidden;
}

input#bhas-a, input#bhas-b, input#bhas-c{
    border: none;
    appearance: none;
    outline: none;
    text-align: center;
    font-size: 1.5rem;
    color: var(--fontC);
    height: 60px;
    width: 395px;
    border-radius: 10px;
    background-color: var(--bodyC);
    margin: 5px;
}

button#find-bhas{
    cursor: pointer;
    font-size: 20px;
    border: 1px solid aliceblue;
    outline: none;
    background-color: var(--bodyC);
    margin: 15px;
    padding: 5px;
    width: 395px;
    border-radius: 10px;
    color: aliceblue;
}

#find-bhas:hover{
    color: var(--fonthoverC);
}

div#bhas-res{
    width: 395px;
    height: 67px;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
    background-color: var(--bodyC);
    color: var(--fontC);
    border: 1px solid var(--fontC);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
}

p#statusTextTTT{
    padding: 10px;
    font-size: 1.5em;
    background-color: var(--bodyC);
    width: 131px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

div#cellContainerTTT{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 394.5px;
    margin: auto;
}

div.cell{
    background-color: var(--bodyC);
    border: 1px solid var(--fontC);
    width: 131px;
    height: 131px;
    box-shadow: 0 0 0 1px;
    line-height: 131px;
    font-size: 5em;
    cursor: pointer;
}

button#resetTTT{
    cursor: pointer;
    font-size: 20px;
    border: 1px, solid aliceblue;
    outline: none;
    background-color: var(--bodyC);
    margin: 15px;
    padding: 5px;
    width: 395px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 20px;
}

footer{
    background-color: var(--headerfooterC);
    color: var(--fontC);
    padding: 10px;
    text-align: center;
    font-style: italic;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer a{
    text-decoration: none;
    color: var(--fontC);
}

footer a:hover{
    text-decoration: underline;
    color: var(--fonthoverC);
}